<form action="/gerar-pdf" method="POST" enctype="multipart/form-data">

<input type="text" name="cliente" placeholder="Cliente">
<input type="text" name="cpf" placeholder="CPF">
<input type="text" name="modelo" placeholder="Modelo da Impressora">
<input type="text" name="franquia" placeholder="Franquia">
<input type="text" name="contrato" placeholder="Contrato">
<input type="text" name="excedente" placeholder="Excedente">
<input type="text" name="valor" placeholder="Valor">
<input type="text" name="validade" placeholder="Validade">

<input type="file" name="imagem">

<button type="submit">Gerar PDF</button>

</form>
